#groups-wrapper {
  width: 100%;
	
  display: flex;
  /*flex-direction: column;*/
	justify-content: center;
  /*background-color: gold;*/
  /*border: 2px solid red;*/
}

#guests-wrapper {
  border: 2px solid purple;
  display: none;
}

#article-outer-container {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  /*border: 4px solid yellow;*/
  margin: 0 10%;
  margin-bottom: 1%;
  transition: width .5s;
  /*text-align: center;*/
}

#article-wrapper {
  /*border: 2px solid green;*/

  margin: 0 auto;
  margin-top: 20px;
  /*max-width: 80%;*/
  min-width: 400px;
  max-width: 600px;
  border-radius: 10px;
	width: 95%;
  /*max-width: 1000px;*/
	height: 100%;
	/*overflow: scroll;*/
  /*font-family: Georgia, sans-serif;*/
  font-family: 'Abel', sans-serif; 
  /*font-family: 'Roboto Mono', monospace;*/
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Krona One', sans-serif;*/
}

#title-and-forum-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#article-title {
/*	position: fixed;
  background-color: white;
  text-align: center;
  width: 100%;*/
  /*padding: 10px 20px;*/
  font-size: 1.4em;
  text-align: left;
  /*margin-left: 10px;*/
}

#show-forum-button {
  display: flex;
  background-color: gold;
  /*border: 2px solid black;*/
  border-radius: 5px;
  padding: 5px;
  outline: none;
  position: relative;
  padding: 5px;
  cursor: pointer;
}

#show-forum-button-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

#forum-badge {
  position: absolute;
  top: -10px;
  right: -5px;
  /*color: white;*/
}

#article-info-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /*border: 2px solid black;*/
  /*margin: 0 10px;*/
}

#article-author, #article-publish-date {
  text-align: left;
  /*font-weight: italic;*/
}

#participants-wrapper {
  /*border: 2px solid purple;*/
}

#participants-header {
  font-size: 1.2em;
}

.discussion-participant {
  display: inline-block;
  margin-right: 5px;

  padding: 0 5px;
  background-color: cadetblue;
  color: white;
  font-weight: bold;

  border-radius: 5px;
}

#article-content {
  margin-top: 30px;
  max-height: 75%;
  overflow: scroll;
  font-size: 1.2em;
	text-align: justify;
  /*padding: 10px 20px;*/
  font-size: 1em;
  /*border: 1px solid black;*/
  /*border-radius: 5px;*/
}

.comment-highlight {
  cursor: pointer;
}

#selection-popup, #comment-popup {
  background: white;
  color: #333;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  max-width: 200px;
  /*display: none;  */
}

#comment-popup {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: teal;

}

.comment-content {
  /*border: 1px solid black;*/
  border-radius: 10px;
  background-color: teal;
  color: white;

  margin-bottom: 5px;
}

.comment-fact {
  background-color: gold;
  margin-bottom: 5px;

  border: 1px solid gold;
  border-radius: 10px;
  padding: 5px;
  margin-left: 15px;
  /*cursor: pointer*/
}

.add-comment-fact-button {
  float: right;
  background-color: steelblue;
  color: white;
  box-shadow: 0;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1.3em;
  cursor: pointer;
  outline: none;
  /*top: 10px;*/
}


#comment-fact-dropzone {
  border: 2px solid black;
  border-radius: 20px;
}

.new-comment-fact {
  background-color: darkcyan;
  border: 2px solid blue;
  border-radius: 5px;

  line-height: 1.2em;
  max-height: 3.6em;
  margin: 5px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /*box-shadow: inset 0 -20px 5px white;*/
}

.popup {
  background: white;
  color: #333;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}

#forum-lock-popup {
  border: 2px solid red;
  max-width: 200px;
  background-color: silver;
}

#collect-fact-button {
  background: steelblue;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 2em;
  border-radius: 4px;
}

/*#selection-popup[data-show], #comment-popup[data-show]{
  display: block;
}*/

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: white;
}

.popup[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

.popup[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

.popup[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

.popup[data-popper-placement^='right'] > #arrow {
  left: -4px;
}


#selection-popup[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#selection-popup[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#selection-popup[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#selection-popup[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

#comment-popup[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#comment-popup[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#comment-popup[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#comment-popup[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

