#groups-wrapper {
	display: flex;
  width: 100%;
	justify-content: center;
}

#article-outer-container {
  width: 100%;
  margin-top: 20px;
}

#article-wrapper {
  margin: auto;
  /*max-width: 80%;*/
  max-width: 600px;
  border-radius: 10px;
	width: 95%;
  /*max-width: 1000px;*/
	height: 100%;
	/*overflow: scroll;*/
  /*font-family: Georgia, sans-serif;*/
/*font-family: 'Abel', sans-serif; */
font-family: 'Roboto Mono', monospace;
/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Krona One', sans-serif;*/
}

#title-and-forum-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#article-title {
/*	position: fixed;
  background-color: white;
  text-align: center;
  width: 100%;*/
  /*padding: 10px 20px;*/
  font-size: 1.4em;
  text-align: left;
  /*margin-left: 10px;*/
}

#show-forum-button {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);

  display: flex;
  background-color: gold;
  /*border: 2px solid black;*/
  border-radius: 5px;
  padding: 5px;
  outline: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
}

#article-info-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /*border: 2px solid black;*/
  /*margin: 0 10px;*/
}

#article-info-container div {
  text-align: left;
  /*font-weight: italic;*/
}



#article-content {
  margin-top: 30px;
  max-height: 75%;
  overflow: scroll;
  font-size: 1.2em;
	text-align: justify;
  /*padding: 10px 20px;*/
  font-size: 1em;
  /*border: 1px solid black;*/
  /*border-radius: 5px;*/
}

#selection-popup, #comment-popup {
  background: white;
  color: #333;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  max-width: 200px;
  /*display: none;  */
}

.new-comment-fact {
  background-color: darkcyan;
  border: 2px solid blue;
  border-radius: 5px;

  line-height: 1.2em;
  max-height: 3.6em;
  overflow: hidden;
  margin: 5px;
  /*box-shadow: inset 0 -20px 5px white;*/
}

.popup {
  background: white;
  color: #333;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
}

#collect-fact-button {
  background: steelblue;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  font-size: 2em;
  border-radius: 4px;
}

/*#selection-popup[data-show], #comment-popup[data-show]{
  display: block;
}*/

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  background: white;
}

.popup[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

.popup[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

.popup[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

.popup[data-popper-placement^='right'] > #arrow {
  left: -4px;
}


#selection-popup[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#selection-popup[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#selection-popup[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#selection-popup[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

#comment-popup[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#comment-popup[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#comment-popup[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#comment-popup[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

