#review-items-wrapper {
	border: 2px solid green;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	width: 80%;
	margin: 0 auto;
}

.review-item {
	/*width: 80%;*/
	border: 2px solid black;
	margin: 2px 0;
}

.review-decision-button {
	border: none;
}

.green-decision {
	background-color: green;
}

.red-decision {
	background-color: red;
}

#selected-item {
	background-color: snow;
}
/*
#selected-item div {
	background-color: snow;
}*/

