#side-nav {
	position: absolute;
	/*float: left;*/
	/*top: 0;*/
	/*bottom: 0px;*/
	/*width: 200px;*/
	/*left: -100px;*/
	height: 95%;
	background-color: silver;
	border: 2px solid green;
	display: flex;
	/*flex-grow: 1;*/
	/*flex-direction: vertical;*/
	transition: .2s;
	z-index: 1;
	/*justify-content: left*/
	/*opacity: 0.1;*/
}

#main-pane {
	border: 2px solid red;
	text-align: left;
	justify-content: left;
	color: red;
}

#sidenav-details-pane {
	border: 2px solid yellow;
	max-width: 200px;
	/*z-index: 1;*/
}

#sections-list {
	border: 1px solid blue;
}

#group-details-menu {
	padding: 10px;
	/*color:yellow;*/
}

.sidenav-list {
	text-align: left;
}

.discussion-item {
	border: 1px solid green;
}

.list-title {
	font-size: 1.3em;
}

.section-tab {
	border: 1px solid purple;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

#new-group-popup {
  background: white;
  color: #333;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  /*display: none;  */
}