#side-nav {
	position: absolute;
	/*float: left;*/
	/*top: 0;*/
	/*bottom: 0px;*/
	/*width: 200px;*/
	/*left: -100px;*/
	height: 100%;
	background-color: silver;
	border: 2px solid green;
	display: flex;
	/*flex-grow: 1;*/
	/*flex-direction: vertical;*/
	transition: .2s
}



#main-pane {
	border: 2px solid red;
}

#sidenav-details-pane {
	border: 2px solid yellow;
	max-width: 200px;
}

#sections-list {
	border: 1px solid blue;
	/*display: flex;*/
	/*flex-direction: column;*/
}

.section-tab {
	border: 1px solid purple;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}


.discussion-item {
	border: 1px solid green;
}