#timeline-wrapper {
	border: 2px solid yellow;

  width: 50%;
  height: 100%;
  margin-top: 10px;	
  display: flex;
  flex-direction: column;
	justify-content: center;
  /*background-color: gold;
  /*border: 2px solid red;*/
  background-color: white;
  z-index: 1;
}