#timeline-wrapper {
	// border: 2px solid yellow;

  width: 50%;
  height: 100%;
  margin-top: 10px;	
  display: flex;
  flex-direction: column;
	justify-content: center;
  /*background-color: gold;
  /*border: 2px solid red;*/
  // background-color: white;
  z-index: 1;

  .timeline-item-container {
  	// border: 2px solid red;
  	margin: 5px;

  	.timeline-item-header {
  		// border: 2px solid purple;
  		display: flex;
  		margin-left: 10px;
  	}

    .timeline-item-content-container {
      // border: 2px solid blue;
      border-radius: 10px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);   
      background-color: white;
      text-align: left;
      padding: 2%;

      .timeline-item-article-title {
        font-size: 1.5em;
        font-family: "Times New Roman";

        a {
          color: black
        }
      }

      .timeline-item {
        // border: 2px solid green;
        // background-color: whitesmoke;
      }


      .timeline-fact {
        // border: 2px solid black;
        // margin-left: 15px;
      }

      .timeline-comment {
        // position: relative;
        // border: 2px solid red;
        .timeline-comment-context-wrapper {
          // border: 2px solid green;
          position: relative;

          .timeline-comment-context {
            // border: 2px solid red;
            padding: 5px;
            padding-bottom: 10px;
            background-color: #F3F1F5;
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .timeline-comment-highlight {
              font-weight: bold;
              background-color: #FBF46D; //yellow
              // opacity: 0.5;
              // box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);   
              box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            }
          }

          .context-lip {
            position: absolute;
            z-index: 2;
            bottom: -20px;
            border: 1px solid black;
            height: 20px;
            background-color: #F3F1F5;
            border-radius: 10px;
          }
        }

        .timeline-comment-content-wrapper {
          // border: 2px solid green;
          // position: absolute;
          top: 10px;
          padding: 10px;
          border-radius: 10px;
          background-color: lightblue;
          margin-left: 5%;
        }

        .timeline-comment-content {
          font-size: 1.2em;
        }
      }            
    } 
  }
}







