$base-color-dark-blue: #0f4c75;

.timeline-card-container {
  // border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  // box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);   
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  display: flex;
  flex-direction: column;

  padding: 10px;

  overflow: visible;

  .timeline-card-name {
    font-size: 2em;
  }
}

#timeline-wrapper {
  // border: 2px solid purple;
  margin: 0 20px;
  // flex-grow: 2;
  display: flex;
  flex-direction: column;

  #member-card-container {
    margin: 5px;
    border: 1px solid black;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    #member-card-handle-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      // outline: 2px solid black;

      #member-card-handle {
        // font-size: 2em;
      }
    }

    #member-card-details-wrapper {
      #member-card-stats-wrapper {
        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        // outline: 2px solid red;
        .stats-section {
          display: flex;
          
          .member-card-stat-item {
            // outline: 2px solid blue;
            margin: 0 20px;
            margin-left: 0;
            font-size: 1.2em;

            .member-card-stat-label {
              // font-weight: bold;
            }

            .member-card-stat-value {
              font-weight: bold;
            }      
          }
        }
      }
    }
  }

  // #position-form-wrapper {
  //   // border: 2px solid green;
  //   display: flex;
  //   position: relative;

  //   #position-form-container {
  //     border: 1px solid grey;
  //     width: 100%;
  //     background-color: white;
  //     border-radius: 10px;
  //     // box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);   
  //     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  //     // margin: 5px;
  //     // margin-right: 0;

  //     #position-form {
  //       display: flex;
  //       // margin: 10px;
  //       justify-content: space-between;
  //       align-items: flex-end;
  //       max-width: 100%;
  //     }      

  //     #position-input-div:empty:before {
  //         content: attr(dataPlaceholder);
  //         color: grey;
  //         font-weight: bold;
  //     }

  //     #position-input-div {
  //       border: 1px solid darkgrey;
  //       border-radius: 5px;
  //       /*width: 70%;*/
  //       flex: 1;
  //       margin: 0 5px;
  //       text-align: left;
  //       outline: none;
  //       padding: 3px;
  //       // max-width: 100px;
  //       // background-color: lightgrey;
  //       font-size: 1em;
  //       max-height: 100px;
  //       overflow: scroll;
  //       /*overflow-wrap: break-word;  */
  //       // border-radius: 2px solid blue;
  //     }


  //     #position-submit-button {
  //       border: none;
  //       background-color: gold;
  //       border-radius: 5px;
  //       padding: 5px;
  //       font-weight: bold;
  //       cursor: pointer;
  //     }
  //   } 

  //   #position-form-tooltip {
  //     position: absolute;
  //     background-color: $base-color-dark-blue;
  //     color: white;
  //     font-weight: bold;
  //     // border: 1px solid red;
  //     border-radius: 20px;
  //     padding: 1px 10px;
  //     bottom: 0px;
  //     right: 20px;
  //     font-size: 1.2em;
  //   }

  //   .timeline-item-spacer {
  //     // border: 2px solid orange;
  //     width: 20px;
  //   }      
  // }
}

#timeline-items-wrapper {
	// outline: 2px solid red;

  // width: 50%;
  // height: 400px;
  // margin-top: 10px;	
  display: flex;
  flex-direction: column;
	// justify-content: center; //WILL CUT OFF TOP OF SCROLL
  /*background-color: gold;
  /*border: 2px solid red;*/
  // background-color: white;
  z-index: 1;
  overflow: scroll;

  // min-width: 350px;

  #timeline-prompt {
    font-size: 1.5em;
    font-style: italic;

    #timeline-prompt-popup-trigger {
      color: blue;
      cursor: pointer;
    }
  }

  #timeline-divider-wrapper {
    display: flex;

    #back-to-timeline-button {
      // border: 2px solid green;
      font-size: 1.2em;
      cursor: pointer;
    }

    #timeline-divider {

      width: 90%;
      height: 20px;
      // border-top: 1px solid grey;
      border: 2px solid red;
      // border-radius: 10px;
      // margin: 10px auto;
      display: flex;
      flex-direcction: column;
      justify-content: space-around;

      display: none;

    
      #timeline-divider-line {
        border-top: 1px solid grey;
        width: 100%;
        height: 20px;        
      }
    }

  }
}

.timeline-item-container {
  // outline: 2px solid green;
  // border: 2px solid green;
  margin: 5px;
  margin-bottom: 20px;
  // margin-right: 0;
  display: flex;

  .timeline-item-subcontainer {
    position: relative;
    // border: 2px solid silver;
    width: 100%; // important for keeping items the right width
  }

  .timeline-item-spacer {
    // border: 2px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: 20px;

    .timeline-spacer-line {
      // margin: auto;
      width: 20px;
      border: 1px solid #0f4c75;
      visibility: hidden;
      // height: 0px;      
    }
  }

  .timeline-item-header {
    // outline: 2px solid purple;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

    .item-header-description {
      // outline: 2px solid red;
      // border-bottom: 3px solid lightblue;

      .item-header-username {
        font-weight: bold;
        cursor: pointer;
      }

      .timeline-actor-link {
        padding: 0;
      }
    }
  }


  .timeline-item-content-container {
    // border: 2px solid blue;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);   
    background-color: white;
    text-align: left;
    padding: 2%;

    .timeline-item-article-title {
      font-size: 1.2em;
      font-family: "Times New Roman";

      a {
        color: black
      }

      &.timeline-article-header {
        font-size: 2em;
        font-style: bold;
        // text-align: justify;
      }
    }      
  } 
}

.timeline-fact-wrapper {
  position: relative;
  color: black;
  font-weight: normal;
  // border: 2px solid purple;
  font-family: "Abel", sans-serif;

  // outline: 1px solid purple;
  // margin-top: 10px;
  text-align: right;


  .fact-source {
    // display: block;
    // outline: 4px solid green;
    font-size: 1.2em;
    // font-weight: bold;
    text-align: right;
    margin-right: 10px;
  }

  .timeline-fact-options-wrapper {
    position: absolute;
    top: -20px;
    display: flex;

    display: none;

  
    & > div {
      margin: 0 15px;
      font-style: italic;
      cursor: pointer;    
      
      &:hover {color: blue}        
    }
  }

  .add-comment-fact-button {
    z-index: 5;
    /*float: right;*/
    background-color: steelblue;
    color: white;
    box-shadow: 0;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: -10px;
    top: -20px;

    /*top: 10px;*/
  }

  .original-vs-rephrase-indicator {
    // position: absolute;
    // top: -20px;

    // font-style: italic;
    // cursor: pointer;
  }

  .timeline-fact-content {
    text-align: left;
  }

  .timeline-fact-context-wrapper {
    // border: 2px solid green;
    position: relative;
    text-align: left;

    .timeline-fact-context {
      // border: 2px solid red;
      // font-size: .8em;
      padding: 5px;
      padding-bottom: 10px;
      // background-color: #F3F1F5;
      border-radius: 10px;
      // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      // .timeline-excerpt-highlight {
      //   // font-weight: bold;
      //   // font-size: 1em;
      //   // background-color: #488FB1; //blue
      //   background-color: #8FBDD3; //lighter blue

      //   // opacity: 0.5;
      //   // box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);   
      //   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      // }
    }

    .context-lip {
      position: absolute;
      z-index: 2;
      bottom: -20px;
      border: 1px solid black;
      height: 20px;
      background-color: #F3F1F5;
      border-radius: 10px;
    }
  }
}    

.article-anchor {
  // outline: 1px solid red;

  padding: 0;
  margin-right: 40px;
  font-style: italic;
  font-weight: bold;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;    

  &.reply-excerpt {
    // color: white;
  }    
}

.timeline-comment-context-wrapper {
  // outline: 2px solid green;
  margin: 0px 10px;
  text-align: left;


  .timeline-comment-context-bubble {
    position: relative;

    .timeline-comment-context {
      // border: 2px solid red;
      font-family: "Abel", sans-serif;
      font-weight: normal;
      color: black;

      // font-size: .8em;

      padding: 5px;
      padding-bottom: 10px;
      background-color: #F3F1F5;
      // background-color: snow;
      // background-color: white;
      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;

        border-top: 15px solid transparent;
        border-bottom: 9px solid #F3F1F5;

        border-left: 18px solid #F3F1F5;      
        border-right: 9px solid transparent;
        
        right: 20px;
        top: -20px;    
      }
    }
  }

  .context-lip {
    position: absolute;
    z-index: 2;
    bottom: -20px;
    border: 1px solid black;
    height: 20px;
    background-color: #F3F1F5;
    border-radius: 10px;
  }
}

.fact-collection-timestamp {
  display: flex;
  justify-content: right;
  font-style: italic;
  font-size: 0.9em;
  margin-right: 10px;
}

.tagged-users-wrapper {
  margin-top: 10px;
  
  .tagged-user {
    // margin: 0 2px;

    .tagged-user-link {
      color: blue;
      font-weight: bold;

      &:hover { text-decoration: underline}
    }
  }  
}

.timeline-excerpt-highlight {
  // font-weight: bold;
  // font-size: 1em;
  background-color: #FBF46D; //yellow
  // opacity: 0.5;
  // box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);   
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 0px 0px;
}

.timeline-comment-content-wrapper {
  // outline: 2px solid red;
  margin-top: 10px;
  margin-left: 20px;

  padding: 10px;
  background-color: lightblue; // this color indicates that it is a regular comment
  border-radius: 10px;
  position: relative;

  &.timeline-position {
    background-color: gold; // this color indicates that it is a position
  }

  &:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;

    border-top: 9px solid lightblue;
    border-bottom: 15px solid transparent;

    border-right: 18px solid lightblue;      
    border-left: 9px solid transparent;
    left: -20px;
    top: 10px;    
  }

  .timeline-comment-content {
    font-size: 1.1em;
    // font-weight: bold;
  }  
}

.supporting-facts-wrapper, .comment-facts-container {
  // outline: 2px solid red;
  position: relative;

  margin-left: 40px;
  margin-top: 0;
  padding-right: 5px;
  // padding-top: 10px;

  .supporting-fact-style-container {
    display: flex;
    // align-items: center;
    .supporting-fact-connector-boxes-container {
      width: 75px;
      min-width: 20px;
      // outline: 2px solid green;
      .supporting-fact-connector-box {
        width: 100%;
        height: 50%;

        &.top-connector-box {
          border-bottom: 3px solid lightblue;
          border-left: 3px solid lightblue;
        
          &.draft {
            border-bottom: 3px dashed lightblue;
            border-left: 3px dashed lightblue;            
          }
        }

        &.bottom-connector-box {
          border-left: 3px solid lightblue;

          &.draft {
            border-left: 3px dashed lightblue;
          }
        }
      }
    }
    
    // .supporting-fact-connector {
    //   height: 3px;
    //   width: 100px;
    //   background-color: lightblue;
    // } 

    .supporting-fact-container {
      // outline: 2px solid green;
      border: 3px solid lightblue;
      border-radius: 10px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);   
      background-color: white;
      text-align: left;
      padding: 2%;    
      margin: 10px 0;

      &.draft {
        border: 3px solid dashed;
        margin: 0;

        .timeline-fact-wrapper {
        }

        .remove-fact-button {
          display: none;
          top: -20px;
        }

        &:hover {
          .remove-fact-button {
            display: block;
          }
        }      
      }
    }   
  }
}



// REVIEW STUFF
.review-items-overlay {
  opacity: 0.98;
  transition: opacity 0.3s;
  &.reviewed {
    display: none;
  }

  background-color: #0f4c75;
  display: flex;
  flex-direction: column;
  position: absolute;
  // border: 2px solid red;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  // display: none;
  border-radius: 10px;

  .review-question-wrapper {
    /*border: 3px solid gold;*/
    border-radius: 10px;
  
    .review-extra-container {
      
    }
  }

  #review-question {
    /*color: white;*/
    font-size: 1.1em;
    margin: 0 10%;
    text-align: left;
    margin-bottom: 10px;
    color: white;
    margin-top: 10px;
  }

  #selected-item {
    margin: 10px 20px;
    /*margin-top: 10px;*/
    background-color: whitesmoke;
    border: 3px solid gold;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
  }

  .review-item {
    border-bottom: 2px solid white;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 5px;
  }

  .review-decision-button {
    border: none;
    border-radius: 5px;

    padding: 5px 10px;
    color: white;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
  }

  .green-decision {
    background-color: green;
  }

  .red-decision {
    background-color: red;
  }

  .skip-decision {
    background-color: grey;
  }

  .item-bullet {
    font-weight: bold
  }

  .copy-and-go-button {
    cursor: pointer;
  }
}

.chat-fact:hover .remove-fact-button {
  display: block;
}

.chat-fact {
  position: relative;
  margin: 0px 20px;
  // max-width: 90%;

  text-align: left;
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  font-size: 0.8em;

  // transition: max-height .5s ease;

}

.remove-fact-button {
  // display: none;
  position: absolute;
  top: -10px;
  right: -10px;   
  font-size: 1em;

  border-radius: 20px;
  padding: 0 5px;
  cursor: pointer;

  background-color: snow;
  color: #BD4B4B;
  border: 1px solid #BD4B4B;
} 







