#console-container {
	display: flex;
	height: 100%;
	/*border: 2px solid yellow;*/
}

#console-window {
	/*border: 2px solid red;*/
	/*width: 20%;*/
	max-width: 200px;
	display: flex;
	/*height: 500px;*/
	flex-direction: column;
}

#console-topics-container {
	margin-bottom: 20px;
}

.topic-box {
	/*border: 2px solid green;*/
	text-align: left;
}

.dragged-over {
	background-color: darkcyan;
}

#console-fact-list-container {
	/*border: 2px solid black;*/
	max-height: 300px;
	overflow: scroll;
}

#console-facts-container {
	/*border: 2px solid green;*/

	display: flex;
	flex-direction: column;

}

.fact-box {
	text-align: left;
	font-size: 0.8em;

	border: 1px solid white;
	border-radius: 15px;
	padding: 5px;
	cursor: grab;
	margin-bottom: 5px;
}

#console-window-title {
	font-size: 1.5em;
	text-decoration: bold;
}

.console-section-title {
	font-size: 1.3em;
	/*text-decoration: underline;*/
	text-align: left;
}

.fact-box {
	/*border: 2px solid purple;*/
}