#console-container {
	display: flex;
	height: 100%;
	/*border: 2px solid yellow;*/
}

#console-window {
	/*border: 2px solid red;*/
	/*width: 20%;*/
	max-width: 200px;
	display: flex;
	/*height: 500px;*/
	flex-direction: column;
}

#console-topics-container {
	margin-bottom: 20px;
}

.topic-box {
	/*border: 2px solid green;*/
	text-align: left;
}

.dragged-over {
	background-color: darkcyan;
}

#console-fact-list-container {
	/*border: 2px solid black;*/
	max-height: 300px;
	overflow: scroll;
}

#console-facts-container {
	/*border: 2px solid green;*/

	display: flex;
	flex-direction: column;

}

.fact-box {
	text-align: left;
	font-size: .8em;
	border-radius: 10px;
	/*padding: 5px;*/
	margin-bottom: 5px;
	overflow: hidden;
	/*padding: 3px;*/
	text-align: justify;
}

.console-fact-content {
	cursor: grab;
	background-color: snow;
	color: black;
	max-height: 5em;
	border-radius: ;
	padding: 5px;
}

.expanded-fact {
	max-height: 10em;
	overflow: scroll;
	/*background-color: blue;*/
}

#console-window-title {
	font-size: 1.5em;
	text-decoration: bold;
}

.console-section-title {
	font-size: 1.3em;
	/*text-decoration: underline;*/
	text-align: left;
}

#rephrase-input-form {
	background-color: white;
	outline: none;
	color: black;
	border-radius: 2px;
	margin: 0 5px;
}

.fact-box {
	/*border: 2px solid purple;*/
}

.fact-score {
	display: flex;
	justify-content: flex-start;
	/*border: 2px solid black;*/
	align-items: center;

}

.score-bar {
	margin-left: 10px;

	display: flex;
	height: 7px;
	flex-grow: 0;
	transition: all .5s;
	/*border: 2px solid black;*/
	/*border-radius: 10px;*/
}

.mounted-score-bar {
	flex-grow: 1;
}

.score-bar .score-color {
	/*width: 30%;*/
}

.green-score {
	background-color: green;
	border-radius: 3px 0 0 3px;
}

.yellow-score {
	background-color: yellow;
}

.red-score {
	background-color: red;
	border-radius: 0 3px 3px 0;
}