#social-container {
  /*flex-grow: 50%;*/
  min-width: 25%;  
  border: 2px solid green;
  // background-color: slategrey;
  /*height: 500px;*/
  /*width: 100000px;*/
  /*display: none;*/
  z-index: 0; /*WILL DISSAPEAR WITHOUT THIS*/

  #chat-header-container {
		// background-color: #dddddd;
		background-color: #30475E;
		font-size: 1.5em;
		font-family: 'Krona One', sans-serif;
		padding: 5px 0;
		/*border: 2px solid gold;*/
		border-radius: 10px 10px 0 0;
  }

	#chat-messages-container {
		/*height: 75%;*/
		height: 300px;
		border: 2px solid green;
		overflow: scroll;
		flex: 1;
		display: flex;
		flex-direction: column;
		/*justify-content: center;*/
		align-items: center;
	  background-color: #77abae;
	}  
}
