#nav-wrapper {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  background-color: #44558f;
  height: 5vh;
  /*background-image: linear-gradient(to bottom right, #ADD8E6, #fff);*/

}

#menu-options {
	border: 1px solid green;
	/*justify-content: space-between;*/
}

.nav-link {
	margin: 0 10px;
	color: white;
}

#profile-options {
	border: 1px solid purple;
}

/*#sidenav-details-pane {
	width: 0;
}*/