#nav-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #0f4c75;
  height: 5vh;
  align-items: flex-start;
  /*margin: 0 20px;*/
  /*margin-bottom: 10px;*/
  border-bottom: 4px solid gold;

  z-index: 1;
}

#user-ranks {
  display: flex;
  margin: auto 20px;
  color: white;
}

#reach-scores-content {
  margin-right: 20px;
}

.streak-label, .dailys-bar {
  margin-right: 5px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  /*border: 2px solid red;*/
  cursor: default;
  color:;
}

.dropdown-content {
  display: none;
  background-color: snow;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#menu-options, #profile-options {
  /*margin: auto 0;*/
  margin: 0 20px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  margin-top: 5px;
}

.nav-link {
	/*margin: 0 10px;*/
	color: white;
  text-decoration: none;
  /*border: 1px solid purple;*/
  padding: 0 3px;
}

.dropdown-item {
  cursor: pointer;
  color: black;
}


.nav-link:hover {
  background-color: black;
  color: white;
}

.section-nav-link {
  /*display: none;*/
}
/*#sidenav-details-pane {
	width: 0;
}*/