.replies-container {
  // outline: 1px solid red;
  // display: flex;
  // flex-direction: column;
  
  .replies-header {
    font-size: 1.3em;
    margin-top: 10px;

  }

  .create-first-reply-button {
    // background-color: #30475E;
    font-weight: bold;
    margin-top: 10px;

    &:hover {
      color: purple;
      cursor: pointer;
    }

  }

  .replies-viewtoggle, .reply-container {
    text-align: left;
    border-radius: 10px;
    padding: 5px 10px;
  }

  .replies-viewtoggle {
    margin-bottom: 10px;
    width: 150px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12), 0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);  
    color: blue;
    cursor: pointer;
  }

  .reply-container {
    // border: 2px solid purple;

    .reply-header {
      display: flex;
      justify-content: space-between;

      .reply-user-handle {
        border-bottom: 3px solid #0f4c75;
        padding-right: 5px;
        margin-left: 10px;
        font-weight: bold;
      }    

      .reply-timestamp {
        font-style: italic;
        margin-left: 10px;
        font-size: 0.8em;
      }
    }

    .reply-content-wrapper {
      // outline: 1px solid red;
      // padding: 10px 0px;
      background-color: #EAEAEA; //light grey
      // border-radius: 5px 0 0 0;
      border-radius: 10px;
      padding-bottom: 5px;
      padding-right: 5px;
      position: relative;

      &:before {
        // outline: 1px solid red;
        position: absolute;
        content: "";
        // border: 1px solid red;
        width: 10px;
        height: 10px;
        top: -2.5px;

        border-radius: 10px 0 0 0;
        border-left: 3px solid #0f4c75;
        border-top: 3px solid #0f4c75;
      }        
    }
  }
}







