#network-menu-container {
	// border: 2px solid green;
	color: black;

	#network-menu-header {
		// border: 2px solid purple;
		// color: black;
	}

	#network-options {
		display: flex;
		justify-content: space-around;
		// border-top: 2px solid grey;

		.network-option {
			font-size: 1.5em;
			cursor: pointer;

			&.selected {
				border-bottom: 2px solid black;
				font-weight: bold;				
			}
		}
	}

	#network-cards-wrapper {
		// outline: 2px solid green;
		border-top: 1.5px solid black;
		overflow: scroll;
		max-height: 100%;

		// .network-contact-container {
		// 	border-bottom: 1.5px solid black;
		// 	// outline: 1px solid black;
		// 	text-align: left;
		// 	margin-bottom: 10px 0;
		// 	font-size: 1.5em;
		// 	padding: 5px 0;
		// 	// color: black;
		// 	padding-left: 5px;
		// 	cursor: pointer;

		// 	&:hover {
		// 		background-color: #F0F0F0; // light grey
		// 	}
		// }
	}
}

.contact-result-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
}

#network-modal-container {
	#network-search-form {
		// border: 2px solid purple;
		display: flex;
		justify-content: center;

		#network-search-input {
			// border: 2px solid red;
			width: 200px;
			outline-width: 0;

		  padding: 5px;
		  border: 3px solid #0f4c75;
		  border-radius: 5px 0 0 5px;
		  border-right: none;
		  // margin: 8px 0;
		  // box-sizing: border-box;			
		}

		#network-search-submit-button {
			border: none;
			background-color: #0f4c75;
			border-radius: 0 5px 5px 0;
			color: white;
			cursor: pointer;
		}
	}
}


.follow-status-wrapper {
  // outline: 2px solid black;

  .follow-status-button {
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    padding: 5px 10px;
    cursor: pointer;
  }

  .follow-status-button.following-state {
    border: 2px solid transparent;
    background-color: #0f4c75;
    color: white;
  }

  .follow-status-button.following-hover {
    border: 2px solid #0f4c75;
    background-color: white;
    color: black;
  }        
}







/* Example Styles for React Tags*/
.tags-container {
  // padding: 40px;
  text-align: center;

  // outline: 1px solid green;
  border: 2px solid lightgrey;
  border-radius: 5px;
  margin: 5px 10px;
  padding: 10px;
  box-shadow: none;
}

/* Example Styles for React Tags*/

.container {
  margin: auto;
  width: 50%;
}
.ReactTags__tags {
  position: relative;
}

.ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: #fff;
  border: none;
}

/* Styles for the input */
.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;

  // outline: 1px solid red;
	margin: 5px;
  border: 1px solid black;

}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  border: 1px solid #eee;
  min-width: 150px;
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #63bcfd;
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}
.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
  position: absolute;
  z-index: 2;
  // top: 0px;
  background: snow;
}
.ReactTags__suggestions ul {
  padding: 0;
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  width: 200px;
}
.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}


.contact-result-link {
	font-weight: bold;
	// font-size: 1.2em;
	cursor: pointer;
}