.auth-wrapper {
	margin: 0 auto;
	margin-top: 20vh;
	width: 50%;
	max-width: 300px;


	display: flex;
	flex-direction: column;
	justify-content: space-between;

	border: 2px solid black;
	border-radius: 10px;

	background-color: #d1f2ef;

	z-index: 1;
}

.auth-wrapper input {
	margin: 5px 0;
}