.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  /*background-color: #ffb677;*/
  /*background-color: #ffc97b /*azure*//*whitesmoke*/
  background-color: whitesmoke;
  /*height: 100vh;*/
  /*background-image: linear-gradient(to bottom right, #ADD8E6, #fff);*/
}

main {
  border: 2px solid black;
  flex-grow: 1;
  max-height: 95vh;
  display: flex;
  justify-content: center
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


