.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /*border: 2px solid purple;*/
  position: relative;
  text-align: center;
  background-color: whitesmoke;
  font-family: 'Abel', sans-serif;   

  scrollbar-width: none;
}

a {
  text-decoration: none
}

#blob {
  width: 100%;
  height: 100%;

  background-color: #0f4c75;
  /*border-radius: 600px 0px 0px 0px;*/

  position: absolute;
  bottom: 0px;
  right: 0px;

  z-index: 0;

  transition: .5s;
}

main {
  /*border: 2px solid black;*/
  flex-grow: 1;
  max-height: 95vh;
  display: flex;
  justify-content: center
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea {
  resize: none;
}

