#groups-menu {
	color: black;
}


#new-group-popup {
  display: flex;
  flex-direction: column;
  // background: #fbd46d;
  font-family: 'Abel', sans-serif;
  // color: #333;
  // font-weight: bold;
  // padding: 4px 4px;
  // font-size: 13px;
  // border: 2px solid black;
  // border-radius: 4px;
  // z-index: 1;
  // width: 200px;

	.close-button {
		display: inline-block;
		margin-left: 95%;
		color: red;
		cursor: pointer;
	}

	#new-group-popup-title {
		text-align: center;
		font-size: 2em;
		/*padding: 10px;*/
	}

	#new-group-form {
		padding: 10px;
		/*width: 100px;*/
	}

	#suggestions-box {
		position: absolute;
		/*background-color: green;*/
		background-color: white;
		/*border: 1px solid black;*/
		border-top: 0px;
		border-radius: 5px
	}

	.member-suggestion {
		border-bottom: 1px solid black;
		padding-left: 5px;
	}

	.suggestion-handle {
		opacity: 0.8;
		font-size: 0.9em;
	}


	#added-member-box {
		display: flex;
	}

	.member-tag {
		display: flex;
		align-items: center;
		background-color: darkcyan;
		/*color: white;*/
		border: 2px solid blue;
		border-radius: 5px;
	}

	.remove-member-button {
		color: white;
		font-size: 0.8em
	}

	.highlight {
		background-color: cyan
	}
}


#group-members-popup {
	.group-member-search-result-wrapper {
		display: flex;
	}
}




